<!-- Open Graph ---->
<meta property="og:type" content="article">
<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="John Sturgeon">
<meta property="og:locale" content="en_US">
<meta property="og:title"   content="{{ page.title }}">
<meta property="og:url"   content="{{ site.url }}{{ page.url }}">
<meta property="og:description" content="{{ site.description }}">


{% if page.largeimage %}
<meta property="og:image" content="{{ site.url }}{{ page.largeimage }}">
{% else %}
{% if page.image %}
<meta property="og:image" content="{{ site.url }}{{ page.image }}">
{% else %}
<meta property="og:image" content="{{ site.url }}{{ site.author.avatar }}">
{% endif %}
{% endif %}
<!-- end open graph -->